.main-news {

  padding-bottom: 29px;

  &__header.news-header {
    color: $gray-scale-0;

    &:after {
      border-bottom-color: $gray-scale-0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

}