@import "normalize";
@import "util/exports";
@import "base/exports";
@import "blocks/exports";
@import "browser-upgrade";

* {
  box-sizing: border-box;
}

body {
  font-family: sans;
  color: $text-main-color;
}
