$page-width: 968px;
$content-width: 620px;
$gap: 20px;

.page {
  @extend %clear-fix;

  width: $page-width;
  margin: 0 auto;
  padding-top: 31px;

  &__content {
    float: left;
    width: $content-width;
    height: 100px;
    margin-right: $gap;
  }

  &__aside {
    float: left;
    height: 100px;
    width: $page-width - $content-width - $gap;
  }
}