.news-header {
  position: relative;
  height: 18px;
  margin: 0 0 10px 0;

  font-size: 22px;
  line-height: 1;

  color: $link-color;
  text-transform: capitalize;

  &_main {
    color: $gray-scale-0;

    &.news-header:after {
      border-bottom-color: $gray-scale-0;
    }
  }

  &__text {
    z-index: 2;
    position: absolute;
    padding-right: 10px;
    background-color: white;
  }

  &:after {
    z-index: 1;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    content: '';
    border-bottom: 2px solid $brand-main-color;
  }
}