.news-list-item {

  &:before {
    content: '•';
    padding-right: 3px;
    font-size: 22px;
    vertical-align: middle;
  }

  &_main {
    display: table;
    &:before {
      content: '';
      padding: 0;
    }
  }

  &__news-item {
    &_main {
      display: table-cell;
      vertical-align: middle;
      padding-left: 7px;
      padding-right: 7px;
    }
  }

  &__photo {
    display: table-cell;
    width: 101px;
    height: 55px;
  }

}