.news-list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  &__item {

    vertical-align: middle;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: $link-color;
        text-decoration: underline;
      }
    }

    &:before {
      content: '•';
      padding-right: 3px;
      font-size: 22px;
      vertical-align: middle;
    }
  }
}