$item-height: 30px;

.breadcrumbs {
  margin-bottom: 20px;
  width: 100%;
  height: $item-height;

  line-height: $item-height;
  font-size: 0;

  background-color: $gray-scale-3; // todo

  &__item {
    display: inline-block;
    padding: 0 15px;
    height: 100%;

    font-size: 14px;

    &_main {
      color: white; // todo
      background-color: $gray-scale-1; // todo
    }
  }
}