$main-width: 64.5%;

.layout {
  @extend %clear-fix;
  $gap: 20px;

  width: 100%;

  &__main {
    float: left;
    width: $main-width;
    padding-right: $gap;
  }

  &__aside {
    float: left;
    width: (100% - $main-width);
  }
}