.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__tech-groups {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    min-height: 600px;
  }

  &__tech-group {
    width: 25%;

    @for $position from 1 through 4 {
      &:nth-child(#{$position}) {
        background-color: rgba(0, 0, 0, $position / 10);
      }
    }
  }
}