.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 600px;

  &__technologies {
    width: 100%;
    min-height: 600px;
  }
}