.slider-navigator {
  $nav-gap: 11px;

  $height: 24px;
  font-size: 0;

  height: $height;
  line-height: $height;

  &__previous, &__next {
    display: inline-block;
    font-size: $height;
    font-style: normal;
  }

  &__previous {
    @extend .icon, .icon_arrow-left;
  }

  &__next {
    @extend .icon, .icon_arrow-right;
    margin-right: -13px;
    margin-left: -4px;
  }

  &__counter {
    @include font-bold(18px);
    display: inline-block;
    vertical-align: middle;
  }

  &__counter-icon {
    @extend .icon, .icon_pie;
  }
}