$brand-main-color: rgb(200, 1, 0);

$gray-scale-0: rgb(51, 51, 51);
$gray-scale-1: rgb(49, 49, 49);
$gray-scale-2: rgb(215, 216, 218);
$gray-scale-4: rgba(0, 0, 0, .04);

$place-holder: green;

$text-main-color: $gray-scale-1;