$brand-main-color: red;

$gray-scale-0: rgba(0, 0, 0, 1);
$gray-scale-1: rgba(0, 0, 0, .7);
$gray-scale-2: rgba(0, 0, 0, .4);
$gray-scale-3: rgba(0, 0, 0, .15);
$gray-scale-4: rgba(0, 0, 0, .04);

$place-holder: green;

$text-main-color: $gray-scale-1;