$fonts-root: 'fonts';

$font-weight-regular: 100;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-family: Slabo27, Helvetica, Arial, sans-serif;

@font-face {
  font-family: Slabo13;
  font-weight: $font-weight-regular;
  src: url('#{$fonts-root}/Slabo13px-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Slabo27;
  font-weight: $font-weight-regular;
  src: url('#{$fonts-root}/Slabo27px-Regular.ttf') format('truetype');
}

@mixin font-regular($size) {
  font-weight: $font-weight-regular;
  font-size: $size;
}

@mixin font-semi-bold($size) {
  font-weight: $font-weight-semi-bold;
  font-size: $size;
}

@mixin font-bold($size) {
  font-weight: $font-weight-bold;
  font-size: $size;
}
